/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&family=Mulish:wght@400;800&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    font-family: 'Mulish', sans-serif;
}

header{
    height: 100%;
    width: 100%;
    margin-bottom: 6.25rem;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75rem;
    margin: auto;
}


.nav-title{
    display: flex;
    align-items: center;
}

.nav-title img{
    width: 3rem;
    height: 3.5005rem;
}

.nav-title p{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    margin-left: 1.04rem;
}

.nav-title p span{
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-link p{
    display: none;
}
.nav-link ul{
    display: flex;
    padding: 0.625rem 0rem;
    justify-content: center;
    align-items: center;
    gap: 2.75rem;
}

.nav-link ul li{
    list-style: none;
    color:#424247;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
}

.nav-link .home{
    color: #FF5400;
    font-size: 1.125rem;
    font-weight: 700;
}

.when{
    background-color: white;
    padding: 2rem 10rem;
}

.banner-container{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 1rem;
    align-items: center;
    width: 73.125rem;
    height: 31.25rem;
    margin: auto;
    position: relative;
}

.banner-container h1{
    position: relative;
    top: 6rem;
    color: #ffffff;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
}

.banner-container h5{
    position: relative;
    top: 6rem;
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}
.input-field {
    position: relative;
    top: 6rem;
    width: 75%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.30);
    margin: auto;
    
}

.input-field .address{
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #ffffff;
}

.input-field .address p {
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    margin-left: .5rem;
}
.input-field .selection{
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    border-radius: .5rem;
    width: 10.875rem;
    height: 3.25rem;
}

.input-field .selection p{
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    margin-left: .5rem;
    margin-right: .5rem;
}

.input-field .search{
    display: flex;
    justify-content: center;
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF5400;
}

.input-field .search p{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
}

/* main section-1 ----------------------------------------*/

.tour-container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 73.125rem;
    align-items: center;
    justify-items: center;
    margin: auto;
    margin-bottom: 10rem;
}
.tour-info h2{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.tour-info p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.tour-info li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.tour-info button{
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF5400;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 800;
}

.tour-pic{
    width: 33.75rem;
    height: 34.375rem;
    margin-left: 2rem;
}

/* ------------------------------------------
section-2
------------------------------------------ */
.gallery-container{
    width: 73.125rem;
    margin: auto;
}
.gallery-description{
    width: 73.125rem;
    margin: auto;
}
.gallery-description h1{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.gallery-description p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    width: 50%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: auto;
}

.main-gallery .maldive span{
    color: white;
    width: 25%;
    font-size: 1.75rem;
    font-weight: 800;
    position: relative;
    top: 13rem;
    left: 15rem;
}

.maldive-indonesia{
    display: flex;
    justify-content: space-around;
}

.main-gallery .sri-lanka span{
    color: white;
    width: 25%;
    font-size: 1.75rem;
    font-weight: 800;
    position: relative;
    top: 12rem;
    left: 8rem;
}

.sri-lanka-america-kashmir{
    display:flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

.main-gallery .Bangladesh span{
    color: white;
    width: 25%;
    font-size: 1.75rem;
    font-weight: 800;
    position: relative;
    top: 12rem;
    left: 8rem;
    margin-top: 0;
    margin-bottom: 0;
}

.bangladesh-Mymensingh{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

/* section-3------------------- */

.service{
    display: flex;
    justify-content: center;
}

.service-description h1{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.service-description p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 50%;
    margin: auto;
}

.service-details{
    width: 35.8125rem;
    height: 17.75rem;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 1rem;
    margin: .5rem;
}

.service-details img{
    width: 4rem;
    height: 4rem;
}

.service-details h3{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.service-details p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.service-price{
    width: 50%;
    margin: auto;
}


/* section-4 Discount---------------------- */

.discount1{
    background-image: url(../Images/Group\ 39.png);
    background-repeat: no-repeat;
    width: 73.125rem;
    height: 31.25rem;
    margin: auto;
    margin-bottom: 3rem;
}
.discount2{
        background-image: url(../Images/Group\ 39.png);
        background-repeat: no-repeat;
        transform: scaleX(-1);
        width: 73.125rem;
        height: 31.25rem;
        margin: auto;
        margin-bottom: 3rem;
}
.discount-info1{
    width: 30.1875rem;
    height: 20.3125rem;
    border: 2px solid #ffffff;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 3rem;
    padding-bottom: 1rem;
    position: relative;
    left: 33rem;
    top: 5rem;
}

.discount-info2{
    width: 30.1875rem;
    height: 20.3125rem;
    border: 2px solid #ffffff;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 3rem;
    padding-bottom: 1rem;
    position: relative;
    left: 33rem;
    top: 5rem;
    transform: scaleX(-1);
}

.discount-period{
    display: flex;
}


.discount-period p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;

}

.discount-info1 h2{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.discount-info2 h2{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.discount-info1 p{
    width: 28.25rem;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.discount-info2 p{
    width: 28.25rem;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.discount-info1 h3{
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
}

.discount-info2 h3{
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
}

.discount-info1 button{
    width: 9.375rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF5400;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 800;
}

.discount-info2 button{
    width: 9.375rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF5400;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 800;
}

.discount-container p{
    text-align: center;
}

.discount-container button{
    width: 13.125rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF5400;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 4rem;
}


/* section-5 enjoyment------------------------ */

.enjoyment-container{
    width: 73.125rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-bottom: 4rem;
}

.enjoyment h1{
    color: #131318;
    width: 28rem;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.75rem;
}

.enjoyment p{
    width: 33.25rem;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.enjoyment li{
    width: 32.375rem;
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625rem;
}

.enjoyment button{
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF5400;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
}

.enjoyment-container .video{
    width: 38.125rem;
    height: 26.5rem;
}

/* section-6 registration------------ --------------------------*/

.registration-container{
    display: flex;
    justify-content: space-around;
    width: 73.125rem;
    margin: auto;
    margin-bottom: 7rem;
}

.registration{
    width: 29.625rem;
    height: 26.375rem;
    border-radius: 1rem;
    border: 1px solid #FF5400;
    background: #ffffff;
    text-align: center;
}

.registration h1{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.registration p{
    width: 21.875rem;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem
}

.registration hr{
    width: 90%;
}

.registration input{
    width: 24.5625rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 1rem;
}

.registration .submit{
    width: 24.5625rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF5400;
}

.offer{
    background-image: url(../Images/Rectangle\ 8\ \(1\).png);
    background-repeat: no-repeat;
    width: 42rem;
    height: 26.375rem;
}


.offer-tool{
    width: 20.25rem;
    height: 7.5rem;
    transform: rotate(-19.628deg);
    border-radius: 1rem;
    background: #FF5400;
    position: relative;
    top: 14rem;
    left: 21rem;
    
}

.offer-tool h4{
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    margin-top: 2rem;
}

.offer-tool h2{
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
}

/* footer--------------------------------- */

footer{
    width: 90rem;
    height: 31.375rem;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    margin: auto;
}

.footer-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title img{
    width: 3rem;
    height: 3.5005rem;
}

.footer-title p{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    margin-left: 1.04rem;
}

.footer-title p span{
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}

.footer-icon{
    margin-bottom: 6rem;
}

footer hr{
    width: 75%;
}




/* ----------------------------------------------------------- */
/* For Mobile Phone {Media query}*/
/* ----------------------------------------------------------- */

@media screen and (max-width: 600px) {

    nav{
        width: 100%;
        height: 100%;
    }


    .nav-link ul{
        display: none;
    }


    .nav-link p{
        display: initial;

    }


    .banner-container{
        width: 100%;
        height: 100%;
    }

    .banner-container h1{
        color: #ffffff;
        font-size: 1.575rem;
        font-weight: 800;
        position: relative;
        top: 1.5rem;
    }

    .banner-container h5{
        color: #ffffff;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.3125rem;
        position: relative;
        top: .5rem;
    }

    .input-field{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: -.5rem;
        gap: .5rem;
    }
    

    /* Main section-1 */

    .tour-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .tour-pic{
        width: 25.9375rem;
        height: 21.375rem;
        margin-top: 1.5rem;
        margin-left: 0;
    }
    .tour-pic img{
        width: 100%;
    }

    /* Main section-2--------------------- */

    .gallery-container{
        width: 100%;
    }

    .gallery-description{
        width: 100%;
        margin: auto;
    }

    .main-gallery img{
        width: 100%;
    }

    .maldive-indonesia{
        display: flex;
        flex-direction: column;
    }

    .sri-lanka-america-kashmir{
        display: flex;
        flex-direction: column;

    }
    .bangladesh-Mymensingh{
        display: flex;
        flex-direction: column;
    }

    /* section-3--------------------- */

    .service{
        display: flex;
        flex-direction: column;
    }

    .service-details{
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .service-details p{
        width: 100%;
    }

    .service-price{
        width: 100%;
    }

    /* section-4 discount------------------- */

    .discount1{
        width: 100%;
    }
    .discount2{
        width: 100%;
    }
    .discount-info1{
        width: 18.9375rem;
        height: 22.5625rem;
        position: relative;
        left: .3rem;
        bottom: 5rem;
    }

    .discount-info2{
        width: 18.9375rem;
        height: 22.5625rem;
        position: relative;
        left: .3rem;
        bottom: 5rem;
    }

    .discount-info1 p{
        width: 75%;
    }

    .discount-info2 p{
        width: 75%;
    }


    .discount-info1 h2{
        width: 75%;
    }

    .discount-info2 h2{
        width: 75%;
    }

    .discount-info1 h3{
        width: 75%;
    }
    .discount-info2 h3{
        width: 75%;
    }
    .discount-period{
        width: 100%;
    }

    .discount-period p{
        width: 100%;
        margin: 0;
    }

    /* section-5 enjoyment------------- */

    .enjoyment-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .enjoyment h1{
        width: 100%;
    }
    
    .enjoyment p{
        width: 100%;
    }
    
    .enjoyment li{
        width: 100%;
    }
    
    .enjoyment-container .video{
        width: 100%;
    }

    .video iframe{
        width: 100%;
    }

    /* section-6 registration--------------- */

    .registration-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .registration{
        width: 100%;
    }

    .offer{
        /* display: initial; */
        width: 100%;
        
    }
    
    .offer-tool{
        position: relative;
        width: 75%;
        top: 14rem;
        left: 5rem;
        
    }

    /* footer------------------- */

    footer{
        width: 100%;
    }

}